.footer-container {
  background-color: #101522; /* Dark background */
  width: 100vw;
  padding: 50px;
  color: #fff; /* White text */
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  align-items: center;
}
.social-links-container,
.contact-details,
.courses {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  /* background-color: yellowgreen; */
  height: 60vh;
  width: 25vw;
}
.social-links-container .logo {
  margin-left: 100px;
  padding-bottom: 5px;
}
.social-links-container b {
  font-size: 25px;
}
.social-links-container p {
  text-align: start;
  padding: 15px;
  font-size: 18px;
}
.social-links {
  height: 15vh;
  display: flex;
  align-items: last baseline;
  font-size: 25px;
  justify-content: space-between;
}
.icon a,
.facebook a,
.insta a,
.whatsapp a,
.youtube a {
  cursor: pointer;
  color: deeppink;
  font-size: 30px;
}
.icon a:hover {
  color: darkblue;
}
.icon:hover {
  color: darkblue;
}
.social-links .facebook .icon:hover {
  cursor: pointer;
  color: #1877f2;
}
.social-links .whatsapp .icon:hover {
  cursor: pointer;
  color: #25d366;
}
.social-links .insta .icon:hover {
  cursor: pointer;
  color: rgb(227, 114, 174);
}
.social-links .youtube .icon:hover {
  cursor: pointer;
  color: #ff0000;
}
.contact-details,
.courses {
  font-size: 20px;
}

.adress-details,
.contact-number-details,
.email-details {
  display: flex;
  height: 58vh;
  width: 30vw;
  /* background-color: brown; */
}

.adress-details .icon-map,
.contact-number-details .icon-map,
.email-details .icon-map {
  padding: 25px 10px;
  font-size: 30px;
}
.adress-details .icon-map:hover,
.contact-number-details .icon-map:hover,
.email-details .icon-map:hover {
  cursor: pointer;
  color: pink;
}
.email-details p {
  padding-right: 40px;
}
.adress-details p,
.contact-number-details p,
.email-details p {
  padding-left: 25px;
  padding-top: 25px;
  font-size: 18px;
}
.adress-details,
.contact-number-details {
  display: flex;
}
.email-details {
  display: flex;
  justify-content: space-between;
}
/*courses section */
.course ul li {
  padding-top: 25px;
  height: 10vh;
  justify-content: space-around;
  list-style: none;
}
.course ul li:hover {
  cursor: pointer;
  color: pink;
}

.end-footer {
  background-color: #1d263d;
  display: flex;
  padding: 20px;
  /* background-color: brown; */
  height: 10vh;
  width: 100vw;
  color: burlywood;
}
