.content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  /* padding: 10px; */
}
.contact-from {
  background-color: green;
  min-height: 50vh;
  width: 20%;
  margin: 10px;
}
.social-account {
  background-color: brown;
  min-height: 50vh;
  width: 20%;
  margin: 10px;
}
.map {
  background-color: chocolate;
  min-height: 50vh;
  width: 20%;
  margin: 10px;
  justify-self: flex-end;
}
