/* .gallary-container.gallary-heading hr {
  color: darkblue;
} */
.gallary-container {
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
  transition: 0.5s;
}
.card {
  margin: 15px;
}
.card-img {
  /* padding: 15px; */
  /* margin: 15px; */
  height: 300px;
  width: 400px;
  border-radius: 25px;
}
hr {
  width: 25vw;
}
.gallary-heading {
  padding: 20px;
  background: #ced8ff;
}
