.review-container {
  padding-top: 94px;
  width: 100vw;
  min-height: 80vh;
  background: #ced8ff;
  transition: 0.5s;
}
/* .Widget.Background.Content-sc-1ho7q3r-2.ciCnpO a {
  background-color: red;
} */
